p{text-align:center;font-size:26;font-family:comic sans ms;font-weight:bold;margin-left:10;}
l{font-family:mv boli;font-size:20px;text-indent:10px;}
z{font-weight:bold;font-size:40;font-family:arial;}
li{font-family:Garamond;font-size:20;}
m{font-family:Garamond;font-size:30;}